/* Hero Section */
.hero-section {
    min-height: 80vh;
    display: flex;
    align-items: center;
    padding: 2em ;
 
}

.hero-content {
    display: flex;
    gap: 4rem;
    align-items: center;
}

.hero-image {
    flex: 1;
   
}

.hero-image img {
  
    max-width: 70%;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.hero-text {
    flex: 1;
    
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    line-height: 1.2;
}

.roles {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.roles span {
    background: rgba(62, 35, 197, 0.1);
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
}

.tagline {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #f5f1db;
    opacity: 0.9;
}

.hero-buttons {
  display: flex;  
  
}

@media (max-width: 840px) {
.hero-section {
    padding: 1em ;
}

    .hero-content {
        flex-direction: column;
       
    }

    .hero-image {
        max-width: 500px;
        margin: 0 auto;
    }

    .roles {
        justify-content: center;
    }

    .hero-buttons {
        justify-content: center;
    }
}



@media (max-width: 470px) {
.hero-section {
    padding: 0.5em ;
}

    .hero-content {
      
        text-align: center;
    }

    .hero-image {
        max-width: 300px;
        margin: 0 auto;
    }

    .roles {
        justify-content: center;
    }

    .hero-buttons {
      padding: 0;
    }
    
.primary-btn, .secondary-btn {
    padding: 1em 10px;
}

}
@media (max-width: 400px) {
.hero-text h1 {
    font-size: 2rem
}
}